doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    meta(name='description', content='Space Crafters - Premium Interior Design Solutions')
    
    // Bootstrap CSS
    link(href='/bootstrap-5.3.1-dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/stylesheets/style.css', rel='stylesheet')
    
  body
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
      .container
        a.navbar-brand(href='/') 
          strong Space Crafters
        
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav')
          span.navbar-toggler-icon
          
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/projects') Projects
            li.nav-item
              a.nav-link(href='/reviews') Reviews
            li.nav-item
              a.nav-link(href='/about') About
            li.nav-item
              a.nav-link(href='/contact') Contact
              
            if user
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href='#', data-bs-toggle='dropdown') #{user.firstName}
                ul.dropdown-menu
                  li: a.dropdown-item(href='/users/profile') My Profile
                  li: hr.dropdown-divider
                  li: a.dropdown-item(href='/logout') Logout
            else
              li.nav-item
                a.nav-link(href='/login') Login
              li.nav-item
                a.nav-link(href='/register') Register
    
    // Main layout with container and sidebar
    main(style='margin-top: 86px;')
      .container
        .row
          .col-lg-8.col-md-7
            block content

          .col-lg-4.col-md-5
            // Sidebar
            .card.mb-3
              .card-body
                h5.card-title Space Crafters
                p.card-text Premium interior design solutions for modern living spaces.
            .card.mb-3
              .card-body
                h5.card-title Quick Links
                ul.list-unstyled
                  li: a.text-primary(href='/projects') Projects
                  li: a.text-primary(href='/reviews') Reviews
                  li: a.text-primary(href='/about') About Us
                  li: a.text-primary(href='/contact') Contact
            .card
              .card-body
                h5.card-title Contact Info
                p.text-secondary
                  | Email: info@spacecrafters.com
                  br
                  | Phone: +1 (555) 123-4567
    
    // Footer
    footer.bg-dark.text-white.py-5.mt-5
      .container
        .row
          .col-md-4
            h5 Space Crafters
            p Premium interior design solutions for modern living spaces.
          .col-md-4
            h5 Quick Links
            ul.list-unstyled
              li: a.text-white-50(href='/projects') Projects
              li: a.text-white-50(href='/reviews') Reviews
              li: a.text-white-50(href='/about') About Us
              li: a.text-white-50(href='/contact') Contact
          .col-md-4
            h5 Contact Info
            p.text-white-50
              | Email: info@spacecrafters.com
              br
              | Phone: +1 (555) 123-4567
        hr.my-4
        .text-center
          p &copy; 2025 Space Crafters. All rights reserved.
    
    // Bootstrap JS
    script(src='/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js')
    // Custom JS
    script(src='/javascripts/main.js')